{{ attach_library('tts/orb') }}
<section class="what-we-do-section">
    <div class="service-bg-image-wrapper">
        <img src="{{ file_url(content.field_bg_image['#items'].entity.field_media_image.entity.fileuri) }}" 
             alt="{{ content.field_bg_image['#items'].entity.field_media_image.alt }}" 
             class="bg-image">
    </div>

    <div class="container">
        <div class="content-wrapper">
            <div class="content-section">
                {{ content.field_body.0 }} 
            </div>
            <div class="title-section">
                <h2 class="gradient-wording syn-text">
                    What We <span>Do</span>
                </h2>
                 {# React Orb mount point #}
                <div id="orb-root"></div>
                    {# Include Orb CSS & JS #}
                    <link rel="stylesheet" href="{{ base_path ~ directory }}/orb/build/static/css/main.38929a22.css">
                    <script src="{{ base_path ~ directory }}/orb/build/static/js/453.484dbf83.chunk.js"></script>
                    <script src="{{ base_path ~ directory }}/orb/build/static/js/main.de30a209.js"></script>
                </div>
            </div>  
        </div>

        <div class="service-grid">
            {{ content.field_services_grid }}
        </div>
        <div class="button-section">
             <button class="explore-btn">{{ content.field_button.0 }}</button>
        </div>
    </div>
</section>