{# Twig structure for About Us section #}

<section class="about-us-section">

  {# Background Image #}
  {% if content.field_bg_image['#items'] %}
    <div class="about-bg-image-wrapper">
      <img src="{{ file_url(content.field_bg_image['#items'].entity.field_media_image.entity.fileuri) }}" alt="{{ content.field_bg_image['#items'].entity.field_media_image.alt }}" 
           class="about-bg-image">
    </div>
  {% endif %}

  {# Header with Title #}
  <div class="about-title">
      {% if content.field_title %}
          <h2>{{content.field_title.0}}</h2>
      {% endif %}
  </div>

  {# Content Section #}
  <div class="about-content-section">
    <div class="container-fluid">
      <div class="about-content-grid">

        {# Front Image #}
        <div class="about-image-column">
          {% if content.field_image['#items'] %}
            <div class="about-front-image-wrapper">
              <img src="{{ file_url(content.field_image['#items'].entity.field_media_image.entity.fileuri) }}" 
                   alt="{{ content.field_image['#items'].entity.field_media_image.alt }}" 
                   class="about-front-image">
            </div>
          {% endif %}
        </div>

        {# Text Content #}
        <div class="about-text-column">
          {% if content.field_body %}
            <div class="about-body-content">
              {{ content.field_body.0 }}
            </div>
          {% endif %}
        </div>

      </div>
    </div>
  </div>

</section>
