{# {% if content.field_blog_tags or content.field_blog_time %}
  <div class="blog-header-wrapper">
    {% if content.field_blog_tags %}
      <div class="blog-tags">
        {{ content.field_blog_tags }}
      </div>
    {% endif %}

    {% if content.field_blog_time %}
      <div class="blog-time">
        {{ content.field_blog_time }}
      </div>
    {% endif %}
  </div>
{% endif %}


{% if content.field_detailed_blog_title %}
    <h1 class="blog-title">
    {{ content.field_detailed_blog_title }}
    </h1>
{% endif %}

{% if content.field_blog_author %}
    <div class="blog-author">
    <span class="blog-author-label">By</span>
    {{ content.field_blog_author }}
    </div>
{% endif %}

{% if content.field_blog_image %}
<div class="blog-image">
    {{ content.field_blog_image }}
</div>
{% endif %}

{% if content.body %}
<div class="blog-content">
    {{ content.body }}
</div>
{% endif %} #}

{{ content.body }}


